/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/

.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;

}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}

.tp-caption a{
	color: #fff!important;
}
.tp-caption.medium_text,
.medium_text{
    color:#ffffff;
    font-weight:700;
    font-size:20px;
    line-height:20px;
    font-family:Arial;
    background-color:transparent;
    text-decoration:none;
    border-width:0px;
    border-color:rgb(255,255,255);
    border-style:none;
    position:absolute;
    text-shadow:rgba(0,0,0,0.498039) 0px 2px 5px;margin:0px;
    white-space:nowrap;
    max-width:40%;
}

.tp-caption.large_bold_white,
.large_bold_white{
  font-size:58px;
  line-height:60px;
  font-weight:800;
  font-family:"Open Sans";
  color:rgb(255,255,255);
  text-decoration:none;
  background-color:transparent;
  border-width:0px;border-color:rgb(255,214,88);
  border-style:none;
}

.tp-caption.medium_light_white,
.medium_light_white{
  font-size:30px;
  line-height:36px;
  font-weight:300;
  font-family:"Open Sans";
  color:rgb(255,255,255);
  text-decoration:none;
  background-color:transparent;
  padding:0px;
  border-width:0px;
  border-color:rgb(255,214,88);
  border-style:none;
}

.tp-caption.small_light_white,
.small_light_white{
  font-size:17px;
  line-height:28px;
  font-weight:300;
  font-family:"Open Sans";
  color:rgb(255,255,255);
  text-decoration:none;
  background-color:transparent;
  padding:0px;
  border-width:0px;
  border-color:rgb(255,214,88);
  border-style:none;
}

.tp-caption.Megahost_button_2,
.Megahost_button_2{
  color:#fff !important;
  padding:7px 15px 7px 15px;
  text-decoration:none;
  background-color:transparent;
  border-radius:3px 3px 3px 3px;
  border-width:0px;border-color:rgb(255,255,255);
  border-style:none;
  width:auto;
  height:auto;
}


